# Project related

# Java related
pom.xml
pom.xml.asc
*jar
*.class

# Leiningen
classes/
lib/
native/
checkouts/
target/
.lein-*
repl-port
.nrepl-port
.repl

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS X
.DS_Store

# Logging
*.log
/logs/

# Builds
out/
build/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock
